*, body, html {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

* {
    box-sizing: border-box;
}

header, section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    background-image: url(src/header.jpg);
    background-size: cover;
    background-position: right;
}

section {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 40px 60px;
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
}

.tool hr {
    align-self: flex-end;
}

.single {
    max-width: 595px;
}

.search {
    color: white;
    background-color: #154187;
    transition: background-color 0.2s linear 0s;
}

.search:hover {
    background-color: #39719E;
}

.search-bar {
    display: flex;
}

.search-bar .tool {
    margin: 0 4px; 
}

.small-search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    align-self: flex-end;
    background-color: #154187;
    width: 0;
    height: 0;
    padding: 14.5px;
}